.button-keyboard {
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
    display: inline-block;
    transition: all 0.1s;
    margin-bottom: 50px;
    background: var(--purple);
    box-shadow: 0 10px 0 #4f0c93;
    letter-spacing: 3px;
    text-align: center;
    transition: all 0.1s ease-in-out;

    &:hover {
        opacity: 0.9;
        transition: opacity 0.3s ease-in-out;
    }

    &:active {
        transform: translateY(7px);
        box-shadow: 0 3px 0 #4f0c93;
        transition: all 0.1s ease-in-out;
    }
}