.button-dark {
    padding: 20px 30px;
    background-color: rgb(var(--secondary));
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: rgb(var(--white));
    text-align: center;
    border: 1.5px solid rgb(var(--secondary));

    &:hover {
        background-color: rgb(var(--btn-secondary-hover));
        color: rgb(var(--secondary));
    }

    @media screen and (max-width: 435px) {
        width: 100%;
    }
}

.button-light {
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid rgb(var(--secondary));
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: rgb(var(--secondary));
    text-align: center;

    &:hover {
        background-color: rgb(var(--btn-secondary-hover));
    }

    @media screen and (max-width: 435px) {
        width: 100%;
    }
}