.button-visible-icon {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 30px;
    border: 1px solid var(--purple);
    opacity: 0.7;
    border-radius: 8px;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        .button-icon {
            visibility: visible;
        }
    }

    .button-icon {
        width: 30px;
        position: absolute;
        left:20px;
        visibility: hidden;
    }
}