@import url('../reset.css');

.card-component {
    width: 1200px;
    height: auto;
    padding: 80px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .photo-container {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 3px solid var(--purple);
        box-shadow: 0 0 50px rgba(128, 0, 255, 0.6);
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 0 70px rgba(128, 0, 255, 0.9);
            transition: all 0.3s ease-in-out;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: auto 1 / 1;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .card-title {
        margin-top: 20px;
        font-size: 2rem;
        font-weight: 600;
        color: var(--ment);
        letter-spacing: 6px;
    }

    .card-description {
        margin-top: 20px;
        font-size: 1.7rem;
        color: #8f8e93;
    }
}