*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    font-family: Space Grotesk, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: black;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.header-space {
    height: 100px;
}

.tittle-page {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--ment);
    letter-spacing: 6px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 20px;
        margin-top: 20px;
    }
}