/* Gobales */
@import url('../reset.css');
@import url('../variables.css');

/* Componentes */
@import url('../components/footer.css');
@import url('../components/photo-marc.css');
@import url('../components/progress-bar.css');
@import url('../components/button-keyboard.css');
@import url('../components/button-visible-icon.css');
/* Propios */


.Home-header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        .main-logo-container {
            width: 70px;
            height: auto;
            aspect-ratio: auto 1 / 1;
            border: 1px solid var(--ment);
            border-radius: 5px;
            display: flex;
            justify-content: center;

            img {
                width: 80%;
                height: auto;
                aspect-ratio: auto 1 / 1;
                object-fit: contain;
            }
        }

        .battery-logo-container {
            width: 70px;
            height: auto;
            aspect-ratio: auto 1 / 1;
            border: 1px solid var(--purple);
            background-color: rgba(128, 0, 255, 0.2);
            border-radius: 5px;
            display: flex;
            justify-content: center;

            img {
                width: 80%;
                height: auto;
                aspect-ratio: auto 1 / 1;
                object-fit: contain;
            }
        }

        .pulse-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pulse-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: auto;
                gap: 5px;
                color: var(--ment);
                font-weight: 500;

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .pulse {
                    display: block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: var(--ment);
                    box-shadow: 0 0 0 0 rgba(102, 204, 204, 1);
                    animation: pulse 2s infinite;
                }
            }
        }

    }
}

.xp-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto;
    border-radius: 15px;
    padding: 50px 0;
    border: 1px solid var(--purple);
    background-color: rgba(128, 0, 255, 0.1);
}

.button-section {
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .pulse-text {
        width: 1200px;
        color: #ffffff;
        font-size: 40px;
        font-weight: 500;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    /* Animación del guion bajo */
    .underscore {
        animation: underscorePulse 1.2s ease-in-out infinite;
    }
}




@keyframes underscorePulse {
    0% {
        color: #ffffff;
        opacity: 1;
    }

    50% {
        color: #dcdcdc;
        opacity: 0.6;
    }

    100% {
        color: #ffffff;
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(102, 204, 204, 1);
    }

    70% {
        -webkit-box-shadow: 0 0 0 8px rgba(102, 204, 204, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(102, 204, 204, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(102, 204, 204, 1);
        box-shadow: 0 0 0 0 rgba(102, 204, 204, 1);
    }

    70% {
        -moz-box-shadow: 0 0 0 8px rgba(102, 204, 204, 0);
        box-shadow: 0 0 0 8px rgba(102, 204, 204, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(102, 204, 204, 0);
        box-shadow: 0 0 0 0 rgba(102, 204, 204, 0);
    }
}