/* Gobales */
@import url('../reset.css');
@import url('../variables.css');

/* Componentes */
@import url('../components/header.css');
@import url('../components/footerxp.css');
@import url('../components/card-project.css');