/* Gobales */
@import url('../reset.css');
@import url('../variables.css');

/* Componentes */
@import url('../components/header.css');
@import url('../components/footerxp.css');


.skills-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .skills-section{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        gap: 40px;

        @media (max-width: 768px) {
            flex-direction: column;   
        }
    }
}